/* Global Criteria */

* {
   font-family: Arial, Helvetica, sans-serif;
   background-color: beige;
}

p {
    font-size:large;
    color: green;
    font-family:Arial, Helvetica, sans-serif;
}

input{
    text-align: center;
}

button {
    background-color: rgb(52, 79, 52);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    color: beige;
    border: 4px double rgb(103, 134, 103);
    padding: 25px;
    margin-top: 4px;
    width: 300px;
}

button:hover{
    box-shadow: 5px 4px 7px darkolivegreen;
}

#startpage {
    align-items: center;
    flex-direction: column;
    display: flex;
}

#quiz {
    display: none;
}


#timer {
    text-align: center;
    color: aliceblue;
    background-color: rgb(171, 199, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-shadow: .6px .6px white;
}

#result {
    display: none;
}

#gameover {
    align-items: center;
    text-align: center;
    display: none;
    flex-direction: column;
}

#highScore {
    border: outset;
    height: 2rem;
}

#highscore-header {
    color: rgb(171, 199, 218);
    background-color: rgb(171, 199, 218);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
}

#high-scorePage {
    padding-bottom: .4rem;
    border-color: darkgreen;
    border-bottom-style: groove;
    background: white;
    border: solid;
    display: none;
    width: 50%;
}

#highscoreContainer {
    justify-content: center;
    flex-direction: column;
    display: none;
    align-items: center;
    height: 100%;
    width: 100%;
}

#initials {
    height: 1.90rem;
    margin: .6rem;
}

#highscore-initials {
    padding-left: 10rem;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#highscore-score {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 8.95rem;
    font-weight: bold;
}

#finalScore {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 0.4rem;
}

#endGameBtns { 
    display: none;
}

h1, h2 {
    color:rgb(24, 100, 24);
    text-align: center;
    margin-top: auto;

}

li {
    padding-bottom: 4px;
    list-style-type: none;
    color: darkgreen;
    text-shadow: 1.5px 1px 4px black;
}

.container {
    height: 100vh;
    display: flex;
    width: 100vw;
    max-width: 90rem;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    align-items: center;

}




